#src_br_com_gz_migration_GZMigration_ucd{
width: 6738;
height: 9337;
overflow: hidden;
background: url(src_br_com_gz_migration_GZMigration_ucd.png) top left no-repeat;
}
#br_com_gz_migration_SpecialConfigurations{
position: absolute;
float: left;
width: 180;
height: 155;
margin-left: 222;
margin-top: 8928;
}
#br_com_gz_migration_AboutFrame{
position: absolute;
float: left;
width: 119;
height: 65;
margin-left: 452;
margin-top: 8928;
}
#br_com_gz_migration_HelpFrame{
position: absolute;
float: left;
width: 178;
height: 399;
margin-left: 62;
margin-top: 8928;
}
#br_com_gz_migration_IMigrationType{
position: absolute;
float: left;
width: 142;
height: 115;
margin-left: 4631;
margin-top: 3263;
}
#br_com_gz_migration_file_DefaultDirectoryStructure{
position: absolute;
float: left;
width: 228;
height: 101;
margin-left: 6488;
margin-top: 5295;
}
#br_com_gz_migration_exception_SecurityViolationException{
position: absolute;
float: left;
width: 283;
height: 65;
margin-left: 867;
margin-top: 1687;
}
#br_com_gz_migration_MigrationDataType{
position: absolute;
float: left;
width: 159;
height: 170;
margin-left: 5500;
margin-top: 5418;
}
#br_com_gz_migration_EnSoftware{
position: absolute;
float: left;
width: 113;
height: 195;
margin-left: 2659;
margin-top: 4748;
}
#br_com_gz_migration_report_MigrationReportData{
position: absolute;
float: left;
width: 217;
height: 1118;
margin-left: 5059;
margin-top: 4323;
}
#br_com_gz_migration_IDatabaseInfo{
position: absolute;
float: left;
width: 140;
height: 97;
margin-left: 783;
margin-top: 4555;
}
#br_com_gz_migration_EnMigrationDataType{
position: absolute;
float: left;
width: 175;
height: 285;
margin-left: 3336;
margin-top: 4569;
}
#br_com_gz_migration_GZMigration{
position: absolute;
float: left;
width: 172;
height: 750;
margin-left: 4069;
margin-top: 4512;
}
#br_com_gz_migration_panelSteps_DonePanel{
position: absolute;
float: left;
width: 189;
height: 65;
margin-left: 6539;
margin-top: 4398;
}
#br_com_gz_migration_ISoftwareMutable{
position: absolute;
float: left;
width: 172;
height: 115;
margin-left: 1659;
margin-top: 5290;
}
#br_com_gz_migration_panelSteps_MigrationInfoPanel{
position: absolute;
float: left;
width: 240;
height: 173;
margin-left: 5052;
margin-top: 2188;
}
#br_com_gz_migration_panelSteps_ConfirmDataPanel{
position: absolute;
float: left;
width: 235;
height: 119;
margin-left: 6343;
margin-top: 3604;
}
#br_com_gz_migration_panelSteps_NewSoftwarePanel{
position: absolute;
float: left;
width: 241;
height: 494;
margin-left: 2014;
margin-top: 6280;
}
#br_com_gz_migration_panelSteps_MigrationTypePanel{
position: absolute;
float: left;
width: 246;
height: 479;
margin-left: 3843;
margin-top: 6230;
}
#br_com_gz_migration_report_PDFReport{
position: absolute;
float: left;
width: 154;
height: 65;
margin-left: 4385;
margin-top: 5724;
}
#br_com_gz_migration_exception_InvalidSoftwareException{
position: absolute;
float: left;
width: 274;
height: 65;
margin-left: 62;
margin-top: 6543;
}
#br_com_gz_migration_IValidateDataProvider{
position: absolute;
float: left;
width: 179;
height: 97;
margin-left: 5913;
margin-top: 2933;
}
#br_com_gz_migration_MigrationEngine{
position: absolute;
float: left;
width: 214;
height: 1126;
margin-left: 2838;
margin-top: 2948;
}
#br_com_gz_migration_panelSteps_InitialConfigurationsOnVisible{
position: absolute;
float: left;
width: 308;
height: 79;
margin-left: 3236;
margin-top: 8117;
}
#br_com_gz_migration_panelSteps_WelcomePanel{
position: absolute;
float: left;
width: 216;
height: 65;
margin-left: 5889;
margin-top: 6256;
}
#br_com_gz_migration_panelSteps_CustomerNamePanel{
position: absolute;
float: left;
width: 253;
height: 155;
margin-left: 4620;
margin-top: 7163;
}
#br_com_gz_migration_MailSenderFrame{
position: absolute;
float: left;
width: 154;
height: 137;
margin-left: 2310;
margin-top: 50;
}
#br_com_gz_migration_panelSteps_CurrentSoftwarePanel{
position: absolute;
float: left;
width: 260;
height: 697;
margin-left: 2334;
margin-top: 6349;
}
#br_com_gz_migration_IDatabaseMutable{
position: absolute;
float: left;
width: 154;
height: 79;
margin-left: 698;
margin-top: 7834;
}
#br_com_gz_migration_IMigrationResults{
position: absolute;
float: left;
width: 172;
height: 205;
margin-left: 1898;
margin-top: 3713;
}
#br_com_gz_migration_ICustomerInfo{
position: absolute;
float: left;
width: 149;
height: 79;
margin-left: 6066;
margin-top: 8837;
}
#br_com_gz_migration_panelSteps_IValidation{
position: absolute;
float: left;
width: 187;
height: 97;
margin-left: 2640;
margin-top: 8048;
}
#br_com_gz_migration_file_LogFile{
position: absolute;
float: left;
width: 123;
height: 183;
margin-left: 3195;
margin-top: 2096;
}
#br_com_gz_migration_IFinalizeMigration{
position: absolute;
float: left;
width: 155;
height: 79;
margin-left: 4123;
margin-top: 2474;
}
#br_com_gz_migration_panelSteps_IMigrationInfo{
position: absolute;
float: left;
width: 207;
height: 115;
margin-left: 3705;
margin-top: 606;
}
#br_com_gz_migration_software_SQLDataProviderImpl{
position: absolute;
float: left;
width: 240;
height: 952;
margin-left: 2133;
margin-top: 3198;
}
#br_com_gz_migration_SQLDataProvider{
position: absolute;
float: left;
width: 221;
height: 813;
margin-left: 2178;
margin-top: 3121;
}
